<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" Content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= current_page.data.title + ' - ' unless current_page.data.title.nil? %>DIT Mentor Blog</title>
    <link  rel="shortcut icon" href="http://dit-rohm.com/images/favicon.png">
    <meta property="og:site_name" content="DIT Blog">
    <meta property="og:title" content="<%= current_page.data.title %>">
    <% if current_page.data.description then %><meta property="og:description" content="<%= current_page.data.description %>"><% end %>
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://dit-rohm.com<%= current_page.url %>">
    <% if current_page.data.eyecatch then %>
    <meta property="og:image" content="<%= current_page.data.eyecatch %>">
    <% else %>
    <meta property="og:image" content="http://dit-rohm.com/images/social.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="2560">
    <meta property="og:image:height" content="1402">
    <% end %>
    <% if current_page.data.description then %><meta name="description" content="<%= current_page.data.description %>"><% end %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'blog' %>
    <%= google_analytics_tag %>
  </head>
  <body>
    <%= partial "layouts/blog_header" %>
    <div id="main" role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-2">
            <p class="tags">Tags</p>
            <% current_article.tags.each do |tag| %>
            <ul class="article-tag">
              <li><%= link_to tag, tag_path(tag) %></li>
            </ul>
            <% end %>
          </div>

          <div class="col-sm-7 post">
            <h1 class="article-title"><%= current_article.title %></h1>
            <p class="article-date"><%= current_article.date.strftime('%Y/%m/%d') %></p>
            <hr>
            <%= yield %>
          </div>
          <div class="col-sm-2">

          </div>
        </div>
      </div>
    </div>
    <%= partial "layouts/blog_footer" %>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
