<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= if current_page.data.title.nil? then 'DIT - Doshisha Institute of Technology' else current_page.data.title + ' - DIT' end %></title>
  <meta name="keywords" content="<%= current_page.data.keywords unless current_page.data.keywords.nil? %>">
  <meta name="description" content="<%= current_page.data.description unless current_page.data.description.nil? %>">
  <meta property="og:site_name" content="DIT(Doshisha Institute of Technology)">
  <meta property="og:title" content="<%= current_page.data.title unless current_page.data.title.nil? %>">
  <meta property="og:description" content="<%= current_page.data.description unless current_page.data.description.nil? %>">
  <meta property="og:type" content="<%= current_page.url == '/' ? 'website' : 'article' %>">
  <meta property="og:url" content="http://dit-rohm.com<%= current_page.url %>">
  <meta property="og:image" content="http://dit-rohm.com/images/social.jpg">
  <meta property="og:image:secure_url" content="https://dit-rohm.com/images/social.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="2560">
  <meta property="og:image:height" content="1402">
  <meta property="fb:app_id" content="866054163477643">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dit_rohm">
  <%= favicon_tag 'images/favicon.png' %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= feed_tag :atom, "#{blog("news").options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag 'all' %>
  <%= google_analytics_universal_tag %>
  <!--[if gte IE 9]>
  <style type="text/css">
    .jumbotron {
      background-attachment: scroll !important
    }
  </style>
  <![endif]-->
</head>
<body>
<%= partial "layouts/dhacks" %>
<%= yield %>
<%= partial "layouts/social-buttons" %>
<%= partial "layouts/footer" %>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "all" %>
</body>
</html>
