---
blog: blog
layout: blog
pageable: true
---
<div class="container">
  <h2>
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%Y年 %m月') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
    の記事
  </h2>

  <% page_articles.each_with_index do |article, i| %>
  <div class="row article-box heightLineParent">
    <div class="col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-md-2 col-sm-2 date-box">
      <p class="date"><%= article.date.strftime('%Y/%m/%d') %></p>
    </div>

    <div class="col-md-6 col-sm-9 article">
      <h2 class="article-title"><a href="<%= article.url %>"><%= article.title %></a></h2>
        <p class="summary"><a href="<%= article.url %>"><%= escape_html(article.summary) %></a></p>
    </div>

    <div class="col-md-2 col-sm-1 hidden-xs arrow">
      <a class="link-to-article" href="<%= article.url %>"></a>
    </div>
    <div class="col-md-1 hidden-sm hidden-xs"></div>
  </div>
  <hr class="separator">
  <% end %>

  <div class="row">
    <% if paginate && num_pages > 1 %>

    <div class="col-xs-4">
      <% if prev_page %>
      <p class="prev-link"><%= link_to 'Prev page', prev_page %></p>
      <% end %>
    </div>

    <div class="col-xs-4">
      <p class="page-number">Page <%= page_number %> of <%= num_pages %></p>
    </div>
    <% end %>

    <% if paginate %>
      <% if next_page %>
      <div class="col-xs-4">
        <p class="next-link"><%= link_to 'Next page', next_page %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
